<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<connectionStrings>
    	<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-apaiser-20130510123151;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-apaiser-20130510123151.mdf" />
	</connectionStrings>

    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.php" />
            </files>
        </defaultDocument>
	
        <rewrite>
            <rules>
                <clear />
                <rule name="contact.php" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="contact.php" />
                </rule>
                <rule name="about rewrite" stopProcessing="true">
                    <match url="^about$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="about.php" />
                </rule>
                <rule name="product rewrite" stopProcessing="true">
                    <match url="^product$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="product.php" />
                </rule>
                <rule name="projects rewrite" stopProcessing="true">
                    <match url="^projects$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="projects.php" />
                </rule>
                <rule name="custom rewrite" stopProcessing="true">
                    <match url="^custom$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="custom.php" />
                </rule>
                <rule name="contact rewrite" stopProcessing="true">
                    <match url="^contact$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="contact.php" />
                </rule>
                <rule name="default rewrite" stopProcessing="true">
                    <match url="^default$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="default.php" />
                </rule>
                <rule name="Redirect for Default">
                    <match url="Default.aspx" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/" redirectType="Permanent" />
                </rule>
                <rule name="thanks rewrite" stopProcessing="true">
                    <match url="^thanks$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="thanks.php" />
                </rule>
                <rule name="Redirect for Thanks">
                    <match url="thanks.aspx" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/thanks.php" redirectType="Permanent" />
                </rule>
                <rule name="subscribe rewrite" stopProcessing="true">
                    <match url="^information/subscribe$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="information/subscribe.php" />
                </rule>
                <rule name="showroom rewrite" stopProcessing="true">
                    <match url="^information/showroom$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="information/showroom.php" />
                </rule>
                <rule name="disclaimer rewrite" stopProcessing="true">
                    <match url="^information/disclaimer$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="information/disclaimer.php" />
                </rule>
                <rule name="sitemap rewrite" stopProcessing="true">
                    <match url="^sitemap$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/sitemap.php" />
                </rule>
                <rule name="media rewrite" stopProcessing="true">
                    <match url="^information/media$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="information/media.php" />
                </rule>
                <rule name="Rewrite for product items">
                    <match url="^products/([0-9a-z-]+)/([0-9a-z-]+)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="products/item.php?category={R:1}&amp;product={R:2}" />
                </rule>
                
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
