h1.entry-title{color:#b0d136!important;padding-bottom:20px !important;}
h1.entry-title a{color: #b0d136 !important;}
p{font-size:12px !important;}
.aligncenter{margin:0 auto;}

.widget a{text-decoration:none;}